<h1><%= @selection_process.full_name %></h1>

<% if @candidate.register_confirmed? %>
  <p>Parabéns, <%= @candidate.name %>, você está confirmado(a) no Processo Seletivo, fique atento(a) ao seu email!</p>
<% else %>
  <p>Cheque seu email para confirmar sua inscrição.</p>
<% end %>