@mixin button($color: $default-color, $block: true, $size: em(16)) {
	@if $block {
		display: block;
		width: 100%;
	}
	@else {
		display: table;
	}
	padding: 0.7em 1.5em;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid tint($color, 10%);
	border: 0;
	border-radius: 2px;
	background: $color;
	font-size: $size;
	font-weight: 400;
	// text-shadow: 0 -1px shade($color, 20%);
	text-decoration: none;	
	@if (lightness($color) < 70) {
		color: #fff;
	}
	@else {
		color: shade($color, 70%);
		text-shadow: 0 1px tint($color, 50%);
	}
	text-align: center;
	// box-shadow: 0 3px 0 0 shade($color, 20%), 0 4px shade($color, 30%), 0 3px 0 1px shade($color, 30%), 0 0 0 1px shade($color, 30%);
	transition: all 0.1s;
	&:hover {
		background: tint($color, 10%);
		@if (lightness($color) >= 70) {
			background: tint($color, 20%);
		}
	}

	&:active {;
		background: shade($color, 10%);
		// margin-top: 7px;
		// margin-bottom: 3px;
		// border-bottom: 1px solid $color;
		// box-shadow: 0 1px 0 0 shade($color, 20%), 0 2px shade($color, 30%), 0 1px 0 1px shade($color, 30%), 0 0 0 1px shade($color, 30%);
	}
}

@mixin button-group($color: $primary-color, $size: em(16)) {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		float: left;
		a {
			@include button($color, false, em(14));
			padding: 0.5em 1em;
			display: inline-block;
			border-radius: 0;
		}
		&:first-child a {
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}
		&:last-child a {
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}
}