@mixin sidebar($float: left, $width: $sidebar-width) {
	display: block;
	float: $float;
	position: absolute;
	left: - $width;
	width: $width;
	top: 0;
	padding: 0 1em;
	height: auto;
	min-height: 100%;
	transition: left 0.2s ease;
	background: $dark-color;
	color: #fff;
	overflow: hidden;
	&.is-pushing {
		left: -width;
		&:before {
			left: 0;
			background: $dark-color;
			margin: 0;
			transition: left 0.2s ease;
		}
	}
	&:before {
		content: "";
		display: block;
		position: fixed;
		z-index: -1;
		left: - $width;	
		bottom: 0;
		width: $width;
		height: 2000px;
		transition: left 0.2s ease;
		background: $dark-color;	
	}
	@include media($tablet) {
		left: 0 !important;
		&:before {
			left: 0;
			background: $dark-color;
		}
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0 -1em;
		font-weight: 400;
		list-style: none;
		transition: all 0.3s ease;
		border-bottom: 1px solid shade($dark-color, 30%);
		border-top: 1px solid tint($dark-color, 3%);
		text-shadow: 0 1px shade($dark-color, 70%);
		&:first-child {
			border-top: 0;
		}
		&:last-child {
			box-shadow: 0 1px tint($dark-color, 3%);
		}
		&:hover {
			background: tint($dark-color, 3%);
			a {
				color: #fff;
				text-decoration: none;
			}
		}
		&.active {
			background: $primary-color;
		}
		&.heading {
			padding: 0 1em;
			border-bottom: 1px solid shade($dark-color, 50%);
			color: tint($dark-color, 50%);
			text-transform: uppercase;
			span {
				display: block;
				font-size: 0.8em;
				line-height: 40px;
			}
			&:first-child {
				&:hover {
					border-top: 0;
				}
			}
			&:hover {
				background: transparent;
				border-top: 1px solid tint($dark-color, 3%);
			}
		}
		a {
			display: block;
			color: #fff;
			width: 100%;
			padding: 0 1em;
			line-height: 40px;
			// text-transform: uppercase;	
		}
		i {
			margin-right: 0.5em;
			font-size: em(18);
			line-height: 36px;
		}
	}
}

body {
	&.sidebar-push-ready {
		transition: left 0.2s ease;
		overflow-x: hidden;
    position: relative;
    left: 0;
	}
	&.sidebar-is-pushing {
		left: $sidebar-width;
	}
}

@include media($tablet) {
		body {
			&.sidebar-push-ready {
				transition: left 0.2s ease;
				overflow-x: hidden;
		    left: 0;
			}
			&.sidebar-is-pushing {
				left: 0;
			}
		}
		.wrapper {
			margin-left: $sidebar-width !important;
		}
	}