@mixin sidebar($float: left, $width: $sidebar-width) {
	display: block;
	float: $float;
	position: absolute;
	left: - $width;
	width: $width;
	top: 0;
	padding: 0 1em;
	height: 100%;
	min-height: 100%;
	transition: left 0.2s ease;
	background: shade(#BDC3C7, 80%);
	color: #fff;
	&.is-pushing {
		left: -width;
	}
	@include media($tablet) {
		left: 0 !important;
		top: 4em;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0em -em(16);
		height: 2.5em;
		font-size: em(12);
		font-weight: 400;
		line-height: 2.5em;
		list-style: none;
		border-radius: 2px;
		&:hover {
			background: shade(#252627, 30%);
			a {
				color: #fff;
				text-decoration: none;
			}
		}
		&.active {
			background: shade(#252627, 30%);
		}
		&.heading {
			margin-top: 1em;
			padding: 0 1em;
			font-weight: 400;
			color: #797c80;
			text-transform: uppercase;
			&:hover {
				background: none;
			}
			&:first-child {
				margin-top: 0;
			}
		}
		a {
			font-size: em(16);
			display: block;
			color: #fff;
			width: 100%;
			padding: 0 2em;
			text-transform: uppercase;	
		}
	}
}

body {
	&.sidebar-push-ready {
		transition: left 0.2s ease;
		overflow-x: hidden;
    position: relative;
    left: 0;
	}
	&.sidebar-is-pushing {
		left: $sidebar-width;
	}
}

@include media($tablet) {
		body {
			&.sidebar-push-ready {
				transition: left 0.2s ease;
				overflow-x: hidden;
		    left: 0;
			}
			&.sidebar-is-pushing {
				left: 0;
			}
		}
		.wrap {
			margin-left: $sidebar-width !important;
		}
	}