<asideb class="sidebar">
	<div class="session">
		<div class="session__avatar"></div>
		<div class="session__user">
			<%= current_user.email %>
		</div>
		<div class="session__email">
			<a href="#">Minha Conta</a>
			<%= link_to "Fechar Sessão", destroy_user_session_path, :method=> "delete" %>
		</div>
	</div>
	<ul>
		<li class="heading">Painel de Controle</li>
		<li><a href="#">Minha conta</a></li>
		<li><a href="#">Notificações</a></li>
		<li class="heading"></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Opened projects</a></li>
		<li><a href="#">Closed projects</a></li>
	</ul>
</aside>