<asideb class="sidebar">
	<div class="session">
		<div class="session__avatar" style="background-image:url(<%= gravatar_url(current_user) %>)">

			<div class="session__info">
				<div class="session__user">
					<%= current_user.name %>
					<span class="push-to-right">
						<%= link_to "<i class='icon-cog'></i>".html_safe, edit_user_registration_path(current_user) %>
						<%= link_to "<i class='icon-signout'></i>".html_safe, destroy_user_session_path, :method => "delete" %>
					</span>
				</div>
			</div>
		</div>
	</div>
	<ul>
		<li class="heading">Painel de Controle</li>
		<li><a href="#">Minha conta</a></li>
		<li><a href="#">Notificações</a></li>
		<li class="heading"></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Opened projects</a></li>
		<li><a href="#">Closed projects</a></li>
	</ul>
</aside>