<div class="subheader">
  <div class="wrapper">
    <nav class="subheader__navigation">
      <ul>
        <li><%= link_to "Processos Seletivos", selection_processes_path %></li>
        <li><%= link_to "Gestão de Pessoas", human_resources_path %></li>
        <li><%= link_to "Relatórios", reports_path %></li>
      </ul>
    </nav>
  </div>
</div>