<header class="topbar <%= "topbar--centered" unless user_signed_in? %>">
	<div class="topbar__logo">
		<a href="#" class="pushRight">MENU</a>
	</div>
	<% if user_signed_in? %>
		<div class="topbar__session push-to-right">
			<input type="text" class="topbar__search" placeholder="Pesquisar">
		</div>	
	<% end %>
</header>
