@mixin form($color: #000, $full-width: false) {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="file"],
	input[type="radio"],
	textarea {
		@if $full-width {
			width: 100%;
		}
		@else {
			display: inline-block;
			width: 70%;
		}

		height: 2em;
		margin-bottom: 1em;
		padding: 0 0.5em;
		border: 1px solid #ccc;

		border-radius: 2px;
		font-weight: 100;

		transition: all 0.5s;

		&:focus {
			outline: none;
			border: 1px solid $color;
		}	
	}

	input[type="file"] {
		border: 0;
	}

	textarea {
		height: auto;
	}

	input[type="checkbox"] {
		width: auto;
		height: auto;
	}

	label {
		display: inline-block;
		float: left;
		
		width: 30%;

		height: 2em;
		line-height: 2em;
		
	}

	.form-actions {
		border-top: 1px solid #ccc;
		padding-top: 20px;
	}
	.field-box {
		padding: 1em;
		border-bottom: 1px solid #ddd;
		font-size: 16px;
		input, textarea {
			margin: 0;
		}
		&:last-child {
			border: 0;
		}
	}
	.hint {
		font-size: 12px;
	}
}