html, body {
	height: 100%;
	min-height: 100%;
}

body {
	background: #ebebe9;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-weight: 200;
	height: 100%;
	z-index: 1;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

*:focus  
{  
    outline: none;  
} 