body {
    background: $color_cloudy;
    font-family: "Source Sans Pro";
    font-size: 16px;
    &.visitors {
        background: $color_black;
        color: #fff;
    }
}

*:focus {
    outline: 0;
}

strong {
    font-weight: 600;
}

a {
    color: $color_blue;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $color_blue;
    }
}