@import "neat-helpers";

$max-width: 100%;

$grid-columns: 4;
// $visual-grid: true;
// $visual-grid-color: #000000;
$border-box-sizing: true;

$tablet: new-breakpoint(min-width 780px 12);


$default-color: #f2f1f1;
$primary-color: #3498DB;
$success-color: #2ecc71;
$danger-color:  #E74C3C;

$sidebar-width: 240px;

