.form {
    @include form($full-width: true);
    label {
        font-weight: 400;
        color: tint($dark-color, 50%);
        font-size: 0.8em;
        width: 100%;
    }
    textarea {
        height: 6em;
        max-width: 100%;
        min-width: 100%;
        padding: 0.5em;
    }
}