.wrapper {
	@include outer-container;
	padding: 0 1em;
	background: #ebebe9;
	min-height: 100%;
}

.push-to-right {
	display: inline-block;
	float: right;
	text-align: right;
}

.arrow-down {
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid tint($dark-color, 60%);
}

%push-content {
	@include media($tablet) {
		margin-left: 15em;
	}
}

.section-content {
	@extend %push-content;
}