.section-intro {
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    background: #fff;
    @include media($tablet) {
        position: absolute;
        width: 15em;
        min-height: 100%;
        border-bottom: 0;
        margin-top: 0;
        margin-left: -1em;
    }
    h2 {
        font-weight: 400;
    }
    p {
        font-size: em(14); 
    }
    .action {
        margin-top: 1em;
    }
    &:before {
        display: block;
        width: 15em;
        left: $sidebar-width;
        border-right: 1px solid shade(#ebebe9, 10%);
        z-index: -1;
        content: "";
        position: fixed;
        height: 100%;
        background: #fff;
    }
}