.section-intro {
    display: block;
    float: left;
    width: 100%;
    padding: 0 1em;
    background: #fff;
    border-bottom: 1px solid shade(#ebebe9, 10%);
    @include media($tablet) {
        position: absolute;
        width: 15em;
        min-height: 100%;
        border-right: 1px solid shade(#ebebe9, 10%);
        margin-left: -1em;
    }
    h2 {
        font-weight: 400;
    }
    p {
        font-size: em(14); 
    }
    .action {
        margin-top: 1em;
    }
}