.sidebar {
	@include sidebar;
}

.sidebar__header {
	height: 4em;
	line-height: 4em;
	h1 {
		margin: 0;
		font-size: 1.5em;
		font-weight: 600;
		color: #18191a;
	}
}

.session {
	margin: 0 -1em;
	font-weight: 100;
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

	.session__avatar {
		float: left;
		width: 240px;
		height: 240px;
		background-size: auto 100%;
		&:hover {
			.session__info {
				opacity: 0.9;
			}
		}
	}

	.session__info {
		top: -3em;
		height: 3em;
		padding: 0 1em;
		margin-top: 12em;
		line-height: 3em;
		background: $primary-color;
		transition: opacity 0.2s ease;
		opacity: 0;
		a {
			color: #fff;
			font-size: em(18);
			margin-left: 0.4em;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.session__user {
		font-size: em(14);
	}

	.session__email {
		font-size: em(12);
	}