.sidebar {
	@include sidebar;
}

	.sidebar__avatar {
		position: relative;
		margin-right: 0.5em;
		float: left;
		margin-top: 0.5em;
		height: 1.5em;
		width: 1.5em;
		border-radius: 2px;
		background-size: 100% auto;
		box-shadow: 0 1px shade($dark-color, 60%);
		&:after {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			border-top: 1px solid #fff;
			border-radius: 2px;
			opacity: 0.3;
		}
	}