.topbar {
	height: 2.5em;
	padding: 0 1em;
	margin: 0 -1em;
	line-height: 2.5em;
	background: #fff;
	color: $dark-color;	
	box-shadow: 0 1px shade(#fff, 20%);
	.topbar__logo {
		font-size: 1.5em;
		display: inline-block;
	}
}

	.topbar--centered {
		text-align: center;
	}

	.topbar__search {
		float: left;
		height: 32px;
		width: 200px;
		padding: 0 8px;
		border: 0;
		border-radius: 2px;
		font-size: em(12);
		background: shade($dark-color, 50%);
		color: tint($dark-color, 50%);
		transition: all 0.3s ease;
	  @include placeholder {
	    color: tint($dark-color, 50%);
	    font-weight: 200;
	  }
	  &:focus {
	  	background: #fff;
	  }
	}

.topbar__session {
	.avatar {
		float: left;
		display: inline-block;
		margin: 0.75em 0.5em;
		height: 2.5em;
		width: 2.5em;
		border-radius: 50%;
		background: url(http://userserve-ak.last.fm/serve/126/91946131.jpg);
		background-size: 100% 100%;
	}
	.username {
		font-size: 0.8em;
		color: tint($dark-color, 70%);
	}
	.arrow-down {
		margin-left: 0.2em;
		@extend .arrow-down;
		margin-bottom: 2px;
	}
}