<aside class="section-intro">
    <h2>Processo Seletivo</h2>
    <p>Crie, acompanhe e gerencie os processos seletivos da sua empresa.</p>
    <a href="#" class="action button-success">NOVO PROCESSO</a>
    <a href="#" class="action button-primary">PROCESSOS ABERTOS</a>
    <a href="#" class="action button-primary">PROCESSOS ANTIGOS</a>
</aside>