<aside class="section-intro">
    <h2>Processo Seletivo</h2>
    <p>Crie, acompanhe e gerencie os processos seletivos da sua empresa.</p>
    <%= link_to "NOVO PROCESSO", new_selection_process_path, :class => "action button-success" %>
    <a href="#" class="action button-primary">PROCESSOS ABERTOS</a>
    <a href="#" class="action button-primary">PROCESSOS ANTIGOS</a>
</aside>