<aside class="section-intro">
  <h2>Processo Seletivo</h2>
  <p>Crie, acompanhe e gerencie os processos seletivos da sua empresa.</p>
  <%= link_to "NOVO PROCESSO", new_selection_process_path, :class => "action button-success" %>
  <%= link_to "PROCESSOS ABERTOS", selection_processes_path(:done => false), :class => "action button-primary"%>
  <%= link_to "PROCESSOS ANTIGOS", selection_processes_path(:done => true), :class => "action button-primary" %>
</aside>