<%= render "aside" %>

<section class="section-content open-processes">
    <h2>Processos seletivos abertos</h2>
    <p>Acompanhe e gerencie as etapas e os candidatos dos seus processos seletivos que estão acontecendo.</p>
</section>