<section class="panel">
  <header class="panel__header">
    <span class="hide-mobile">
      <h2>Novo processo seletivo</h2>
      <p>Para criar um processo seletivo, preencha o formulário abaixo indicando as características do seu projeto. Note também que cada processo seletivo é composto por etapas (ex: entrevista, dinâmica, etc). Você pode criar quantas etapas quiser, de acordo com a necessidade da sua empresa.</p>
    </span>
  </header>
  
  <%= render 'form' %>
</section>