<section class="panel">
  <header class="panel__header">
  	<span class="hide-mobile">
      <h2>Nova nota fiscal</h2>
    </span>


	<%= render 'form' %>

	<!--<%= link_to 'Back', cashiers_path %>-->
  </header>
</section>