.header {
  border-bottom: 1px solid $color_darker_black;
  background: $color_black;
  a {
    color: #aaaeb2;
  }
}

  .header__logo {
    position: relative;
    float: left;
    font-size: 1.5em;
    line-height: 4*16px;
    color: #fff;
  }

  .header__navigation {
    display: none;
    margin: 0 -1em;
    background: $color_black;
    @include media($tablet) {
      display: block;
    }
    .header__navigation__list {
      margin: 0;
      margin-top: 4em;
      padding: 0;
      @include media($tablet) {
        float: right;
        margin: 0;
      }
    }
    .header__navigation__item {
      padding: 0 1em;
      border-bottom: 1px solid $color_darker_black;
      line-height: 3em;
      list-style: none;
      &:first-child {
        border-top: 1px solid $color_darker_black;
      }
      &:last-child {
        border: 0;
      }
      &:hover {
        background: tint($color_black, 5%);
      }
      a {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease;
        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
      @include media($tablet) {
        float: right;
        text-align: right;
        display: inline-block;
        line-height: 4em;
        height: 4em;
        border-bottom: 0;
        &:hover {
          background: transparent;
        }
      }
    }
  }