.user-session {
  color: #fff;
}

  .user-session__avatar {
    float: left;
    height: 2em;
    width: 2em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-radius: 50%;
    background: url(http://www.mpp.org/people/billmurray.png);
    background-size: 100% auto;
    @include media($tablet) {
        margin-top: 1em;    
    }
  }

  .user-session__username {
    margin-right: 1em;
  }

  .arrow-down {
    width: 0; 
    height: 0; 
    margin-top: -2em;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    float: right;
  }